
Nueva carpeta
Python para servidor Practica de Clase

Html_Css_JS/Ejercicios_Practica_teoria/Ejercicios_con_Flask/env/Include
Html_Css_JS/Ejercicios_Practica_teoria/Ejercicios_con_Flask/env/Lib
Html_Css_JS/Ejercicios_Practica_teoria/Ejercicios_con_Flask/env/Scripts
Html_Css_JS/Ejercicios_Practica_teoria/Ejercicios_con_Flask/env/pyvenv.cfg


Html_Css_JS/Ejercicios_Practica_teoria/Ejercicios_con_Flask/env/EjerciAnterior