body {
    background-color: rgb(0, 130, 181);
    background-image: url("https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");
    background-size: cover;
    color: white;
    margin: 0;
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

section {
    padding: 50px 0;
}

section h1 {
    text-align: center;
}

section p {
    text-align: center;
    font-size: larger;
}

section table {
    position: relative;
}

section table::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(20px);
    z-index: -1;
}

input[type="number"] {
    width: 60px;
}

input[type="button"]{
    background-color: #0a686b;
    color: white;
    padding: 3px 10px;
    border-radius: 20px;
}

.botonValidar{
    background-color: rgb(255, 136, 0);
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
}
.botonValidar:hover{
    background-color: rgb(227, 95, 19);
}