<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- <link rel="stylesheet" href="../static/Estilos_Generales.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='Estilos_Generales.css') }}"> <!--? LINK CSS PARA FUNCIONAMIETO EN FLASK -->

    <script>
        // function form_get() {
        //    document.getElementById("form_get").submit()
        // }
    </script>
    <title>Ejercicio 6</title>
</head>

<body>
    <section>
        <article class="header">
            <h2>Consigna del Ejercicio 6</h2>
            <p>Usando formularios, cree una página html que contenga 2 cajas de texto, un combo el
                cual contendrá las operaciones matemáticas básicas y un botón. La idea es que el
                usuario cargue números, seleccione una operación y luego de ejecutar el botón esa info
                debería ser trasladada al servidor para que realice la operación entre los 2 números.
                El desarrollo debe contener 2 formularios, uno que envie información por GET y el otro
                por POST.</p>
        </article>

        <article class="div-formulario">

            <form action="/numeros" method="GET" id="form_get">
                <h3>Formulario GET</h3>
                <label for="">Numero 1</label>
                <input type="number" name="numero_1" id="" required> <br>
                <label for="">Numero 2</label>
                <input type="number" name="numero_2" id="" required><br>
                <label for="">Elegir Operacion</label>
                <select name="operacion" id="" required>
                    <option value="Suma">Suma</option>
                    <option value="Resta">Resta</option>
                    <option value="Multiplicacion">Multiplicacion</option>
                    <option value="Division">Division</option>
                </select> <br>
                <button type="submit">Enviar datos (GET)</button>
            </form>
        </article>
        <article class="div-formulario">
            <form action="/numeros" method="POST" id="form_get">
                <h3>Formulario POST</h3>
                <label for="">Numero 1</label>
                <input type="number" name="numero_1" id=""> <br>
                <label for="">Numero 2</label>
                <input type="number" name="numero_2" id=""><br>
                <label for="">Elegir Operacion</label>
                <select name="operacion" id="">
                    <option value="Suma">Suma</option>
                    <option value="Resta">Resta</option>
                    <option value="Multiplicacion">Multiplicacion</option>
                    <option value="Division">Division</option>
                </select> <br>
                <button type="submit">Enviar datos (POST)</button>
            </form>
        </article>
    </section>

</body>

</html>