
body {
    background-color: rgb(52, 31, 4);
    background-image: url("https://images.unsplash.com/photo-1471479917193-f00955256257?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1931");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 99vh;
    color: white;
    margin: 0;
    position: relative;
    z-index: 0;
    pad: 0;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

section{
    text-align: center;
}
section label{
    margin-top: 5px;
}
.div-botones button{
    margin:20px;
}